<div class="flex items-center justify-between px-2 py-2 md:h-8 md:px-6 bg-white">
  <div class="flex">
     <img 
      class="w-8 md:w-10"
      src="assets/logo_full_black.svg" 
      alt="Baker's Logbook logo"
      routerLink="/"
     />
  </div>

  <div class="flex gap-2 px-1 py-0 rounded-sm border-2 border-black bg-white">
    <button 
      mat-icon-button 
      matTooltip="Click to Toggle Menu" 
      (click)="toggleMenu()" 
      class="menu-btn lg:hidden"
    >
      <mat-icon aria-label="hamburger-menu">☰</mat-icon>
    </button>
    <nav class="hidden md:flex">
      <div 
        *ngIf="user$ | async" 
        class="menu-options font-bold text-sm items-center justify-between gap-2"
      >
        <a routerLink="/">home</a>
        <a routerLink="recipes/new">new recipe</a>
        <a routerLink="/profile">my recipes</a>
      </div>
      <app-account-menu></app-account-menu>
    </nav>

    <!-- Open nav menu on small screens -->
    <div
      *ngIf="isMenuOpen"
      class="fixed inset-0 z-50 bg-black"
    >
      <div class="flex justify-between px-2 py-2">
        <img 
          class="w-8 md:w-10"
          src="assets/logo_full_light.svg" 
          alt="Baker's Logbook logo"
          routerLink="/"
          (click)="closeMenu()"
        />
        <button class="text-white" (click)="closeMenu()">x</button>
      </div>
      <nav class="p-6 text-white">
        <div 
          *ngIf="user$ | async" 
          class="menu-options flex flex-col space-y-2 font-subheading text-2xl"
        >
          <a routerLink="/" (click)="closeMenu()">home</a>
          <a routerLink="recipes/new" (click)="closeMenu()">new recipe</a>
          <a routerLink="/profile" (click)="closeMenu()">my recipes</a>
        </div>
        <app-account-menu></app-account-menu>
      </nav>
    </div>

  </div>
</div>
