<nav class="flex items-center justify-between px-2 py-2 md:h-8 md:px-6 bg-white">

  <div class="flex">
     <img 
      class="w-8 md:w-10"
      src="assets/logo_full_black.svg" 
      alt="Baker's Logbook logo"
     />
  </div>

  <div class="flex gap-2 px-2 py-0.5 rounded-sm border-2 border-black bg-white">
    <button 
      mat-icon-button 
      matTooltip="Click to Toggle Menu" 
      (click)="toggleMenu()" 
      class="menu-btn"
    >
      <mat-icon aria-label="hamburger-menu" class="">☰</mat-icon>
    </button>

    <div class="menu-options hidden md:flex font-bold text-sm items-center justify-between gap-2">
      <a routerLink="/">home</a>
      <a routerLink="recipes/new">new recipe</a>
      <!-- (below) Subscribes to user observable and displays if found valid -->
      <a *ngIf="user$ | async" routerLink="/profile">my recipes</a>
    </div>


    <!-- Open nav menu on small screens -->
    <div
      *ngIf="isMenuOpen"
      class="fixed inset-0 z-50 bg-black"
    >
      <div class="flex justify-between px-2 py-2">
        <img 
          class="w-8 md:w-10"
          src="assets/logo_full_light.svg" 
          alt="Baker's Logbook logo"
        />

        <button class="text-white" (click)="closeMenu()">x</button>
      </div>

      <div class="p-6">

        <div class="menu-options flex flex-col space-y-4 text-white">
          <a routerLink="/">home</a>
          <a routerLink="recipes/new">new recipe</a>
          <a *ngIf="user$ | async" routerLink="/profile">my recipes</a>
        </div>

      </div>


    </div>

    <app-login></app-login>
  </div>
</nav>
