<form [formGroup]="ingredientsForm" class="">
  <div formArrayName="ingredients" class="mb-2">
    <div
      *ngFor="let ingredient of ingredients.controls; let i = index"
      [formGroupName]="i"
      class="ingredient-row mb-1"
    >
      <!-- Edit mode -->
      <div  
        *ngIf="editable"
        class="flex flex-row space-y-2"
      >
        <div class="flex gap-2 md:gap-4 items-center mb-1 w-full border border-dark-gray px-1 py-1 rounded-sm">
          <div class="ingredient-input w-4 bg-white rounded-sm">
            <label class="font-medium">Quantity</label>
            <input 
              matInput 
              placeholder="ie. 1 1/3" 
              formControlName="quantity"
              class="color-dark-gray"
            >
          </div>

          <div class="ingredient-input w-4 bg-white rounded-sm">
            <label class="font-medium">Unit</label>
            <select formControlName="unit">
              <option value="cup">cup</option>
              <option value="tbsp">tbsp</option>
              <option value="tsp">tsp</option>
              <option value="g">g</option>
              <option value="oz">oz</option>
            </select>
          </div>

          <div class="ingredient-input w-4 bg-white rounded-sm">
            <label class="font-medium">Item</label>
            <input 
              matInput 
              placeholder="ie. dry milk powder" 
              formControlName="name"
              class="color-dark-gray"
            >
          </div>
        </div>

        <div class="editing-options-editmode flex gap-1 my-1 md:my-3">
          <button
            class="font-body font-medium text-sm px-1 py-0.5 rounded-sm"
            type="button" 
            (click)="removeIngredient(i)"
          >&times;</button>
        </div>
      </div>

      <!-- View mode -->
      <div 
        *ngIf="!editable" 
        class="flex border-b border-light mb-1"
      >
        <div class="flex">
          <div class="mr-2">
            <p class="font-body font-black text-base">&bullet;</p>
          </div>
          <div class="mb-1">
            <p class="font-body text-base">
              {{ ingredient.value.quantity }}
              {{ ingredient.value.unit }}
              {{ ingredient.value.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button
    *ngIf="editable"
    class="font-body font-medium text-sm px-2 py-0.5 rounded-sm border-2 border-black"
    type="button" 
    (click)="addIngredient()"
  >Item +</button>
</form>
