<form [formGroup]="ingredientsForm" class="md:w-3/4">
  <div formArrayName="ingredients" class="mb-2">
    <!-- Display when recipe already has ingredients -->
    <div
      cdkDropList
      (cdkDropListDropped)="handleReorder($event)"
      *ngIf="ingredients && ingredients.length > 0"
      class="flex flex-col gap-1"
    >
      <div
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
        class="ingredient-row"
      >
        <!-- Edit mode -->
        <div cdkDrag *ngIf="editable" class="flex flex-row gap-1">
          <div class="flex flex-col w-full gap-1 rounded-sm bg-light-blue shadow-sm px-1 py-1">
            <div class="editing-options-editmode flex flex-row justify-between">
              <label
                *ngIf="ingredient.value.name"
                class="font-body font-medium text-base uppercase tracking-wide"
                >{{ ingredient.value.name }}</label
              >
              <label
                *ngIf="!ingredient.value.name"
                class="font-body font-normal text-base italic color-dark-gray"
                >Ingredient Name</label
              >
              <button
                class="remove-button font-body font-medium text-xl"
                type="button"
                (click)="removeIngredient(i)"
              >
                &times;
              </button>
            </div>
            <div class="flex flex-col gap-1 px-1 py-1 border border-dark rounded-sm">
              <!-- Closed by default, unless new ingredient is added -->
              <details
                matRipple
                matRippleColor="rgba(162, 211, 255, 0.5)"
                [matRippleAnimation]="{ enterDuration: 800, exitDuration: 800 }"
                [matRippleUnbounded]="true"
                [matRippleRadius]="30"
                [attr.open]="i === newIngredientIndex ? true : null"
                class="group"
              >
                <summary
                  class="flex justify-between font-heading font-medium text-sm tracking-wider color-dark-gray px-0 list-none"
                >
                  DETAILS
                  <span class="color-dark-gray transition-transform group-open:rotate-180"
                    >&#9661;</span
                  >
                </summary>
                <div class="flex rounded-b-sm mt-1">
                  <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2">
                      <div class="flex flex-col w-1/2">
                        <label class="font-body font-normal text-sm">Quantity</label>
                        <input
                          matInput
                          placeholder="1 1/3"
                          formControlName="quantity"
                          class="form-field font-normal text-base w-full mt-1"
                        />
                      </div>
                      <div class="flex flex-col w-1/2">
                        <label class="font-body font-normal text-sm">Unit</label>
                        <select
                          required
                          formControlName="unit"
                          class="form-field font-normal text-base w-full mt-1 appearance-none"
                          [ngClass]="{
                            'color-dark-gray italic':
                              ingredient.get('unit')?.value === 'custom' ||
                              !ingredient.get('unit')?.value,
                          }"
                        >
                          <option value="" selected>Select unit</option>

                          <option disabled>Volume</option>
                          <option value="cup">cup</option>
                          <option value="fl oz">fl oz</option>
                          <option value="Tbsp">tbsp</option>
                          <option value="tsp">tsp</option>

                          <option disabled>Weight</option>
                          <option value="g">g</option>
                          <option value="oz">oz</option>
                          <option value="lb">lb</option>

                          <option disabled>Other</option>
                          <option value="pinch">pinch</option>
                          <option value="custom">(custom)</option>
                        </select>

                        <input
                          *ngIf="ingredient.get('unit')?.value === 'custom'"
                          type="text"
                          placeholder="'cloves'"
                          formControlName="customUnit"
                          class="form-field font-normal text-base w-full mt-1"
                        />
                      </div>
                    </div>
                    <div class="flex flex-col w-full">
                      <label class="font-body font-normal text-sm">Item</label>
                      <input
                        matInput
                        placeholder="whole milk"
                        formControlName="name"
                        class="form-field font-normal text-base w-full mt-1"
                      />
                    </div>
                  </div>
                </div>
              </details>
            </div>
          </div>

          <!-- Drag handle -->
          <div cdkDragHandle class="drag-handle flex items-center cursor-move active:bg-gray-200">
            <mat-icon>drag_indicator</mat-icon>
          </div>
        </div>

        <!-- View mode -->
        <div *ngIf="!editable" class="flex border-b border-light">
          <div class="flex mb-1">
            <div class="mr-2">
              <p class="font-body font-black text-base">&bullet;</p>
            </div>
            <div
              *ngIf="
                ingredient.value.quantity || ingredient.value.unit || ingredient.value.name;
                else emptyIngredient
              "
              class=""
            >
              <p class="font-body text-base">
                {{ ingredient.value.quantity }}
                {{ ingredient.value.customUnit || ingredient.value.unit }}
                {{ ingredient.value.name }}
              </p>
            </div>
            <ng-template #emptyIngredient>
              <div class="">
                <p class="font-body text-base italic color-dark-gray">Ingredient draft</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- Display when recipe has no ingredients -->
    <div *ngIf="!ingredients || ingredients.length === 0" class="empty-state text-center py-4">
      <p class="font-body color-dark-gray italic">No ingredients yet.</p>
    </div>
  </div>

  <button
    *ngIf="editable"
    class="add-item-button font-body font-medium text-sm px-2 py-0.5 rounded-sm border-2 border-light"
    type="button"
    (click)="addIngredient()"
  >
    Item +
  </button>
</form>
