<div class="recipes-list px-1 py-2">

  <div>
    <!-- Profile form header -->
    <div class="flex flex-row justify-between mb-2">
      <div>
        <h1>Profile info</h1>
      </div>
      <div class="editing-options-editmode">
        <button
          *ngIf="isEditingProfile"
          (click)="saveProfile()"
          type="button"  
          class="flex font-semibold underline lg:no-underline underline-offset-10 hover:underline" 
        >save</button>
      </div>
      <div class="editing-options-viewmode">
        <button 
          *ngIf="!isEditingProfile"
          (click)="editProfile()"
          type="button" 
          class="flex font-semibold underline lg:no-underline underline-offset-10 hover:underline"
        >edit</button>
      </div>
    </div>
    <app-profile-form 
      [isEditingProfile]="isEditingProfile"
      (profileChange)="onProfileChange($event)"
    ></app-profile-form>
  </div>

  <div class="active-recipes">
    <h1 class="font-subheading font-extrabold text-2xl mb-4">my recipes</h1>
    <div 
      *ngIf="recipes$ | async as recipes" 
      class="main-recipes flex flex-col gap-2 mb-6"
    >
      <a 
        [routerLink]="['/recipes', r.id]" 
        *ngFor="let r of mainRecipes" 
        class="block font-body font-normal text-base underline-offset-10 hover:underline border-b border-light"
      >
        {{ r.title }}
      </a>
    </div>
  </div>

  <div class="archived-recipes flex flex-col rounded-sm px-1 py-1 border border-light">
    <details closed class="group">
      <summary class="flex justify-between list-none font-subheading font-bold text-base color-dark-gray">
        archived 
        <span class="transition-transform group-open:rotate-180">&#9661;</span>
      </summary>

      <div class="flex flex-col gap-2 mt-4">
        <a 
          [routerLink]="['/recipes', r.id]" 
          *ngFor="let r of archivedRecipes" 
          class="block font-body font-normal text-base color-dark-gray underline-offset-10 hover:underline"
        >
          {{ r.title }}
        </a>
      </div>
    </details>
  </div>

</div>
