<form [formGroup]="instructionsForm" class="">
  <div formArrayName="instructions" class="flex flex-col gap-1 mb-2">
    <div
      *ngFor="let instruction of instructions.controls; let i = index"
      [formGroupName]="i"
      class="instruction-row"
    >
      <!-- Edit mode -->
      <div 
        *ngIf="editable" 
        class="flex flex-row"
      >
        <div class="flex justify-between gap-1 w-full border border-light px-1 py-1 rounded-sm">
          <div class="flex gap-1 w-full">
            <label class="font-medium">{{ i + 1 }}.</label>
            <textarea 
              matInput 
              placeholder="Step {{ i + 1 }}..."
              formControlName="step"
              class="form-field w-full h-8 bg-light-blue rounded-sm">
            </textarea>
          </div>

          <div class="editing-options-editmode flex p-1 my-1 md:my-3">
            <button 
              class="font-body font-medium text-lg rounded-sm"
              type="button" 
              (click)="removeInstruction(i)">&times;</button>
          </div>
      </div>
      </div>

      <!-- View mode -->
      <div 
        *ngIf="!editable" 
        class="flex border-b border-light"
      >
        <div class="flex mb-1">
          <div class="mr-2">
            <p class="font-body font-black text-base">{{ i + 1 }}</p>
          </div>
          <div class="">
            <p class="font-body text-base">{{ instruction.value.step }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="editable"
    class="font-body font-medium text-sm px-2 py-0.5 rounded-sm border-2 border-black"
    type="button" 
    (click)="addInstruction()"
  >Step +</button>
</form>
