<div>
  <div class="flex mb-2">
    <h1 class="font-body font-normal text-base">Tags</h1>
    <!-- <mat-icon>label</mat-icon> -->
  </div>

  <!-- Valid tags list -->
  <div 
    *ngIf="tagsList.length > 0" 
    class="tags p-2 border border-light rounded-sm"
  >
  <!-- <div *ngIf="tagsList.length > 0; else noTags"> -->
    <span *ngFor="let tag of tagsList" class="tag">
      {{ tag }}
    </span>
  </div>

  <!-- <ng-template #noTags>
    <p class="font-body font-normal text-sm color-dark-gray">( none )</p>
  </ng-template> -->
    
  <button
    class="font-body font-medium text-sm px-2 py-0.5 rounded-sm border border-light"
    type="button" 
    (click)="addTag()"
  >+</button>
</div>