<div class="signup-page flex flex-col gap-2 px-1 py-2">
  <div>
    <h1 class="flex justify-center font-subheading font-extrabold text-2xl mb-2">Create Account</h1>
    <form
      [formGroup]="signupForm"
      (submit)="handleSignUp()"
      class="flex flex-col gap-2"
    >
      <div>
        <label for="input-first-name" class="font-normal text-sm">First Name</label>
        <input
          id="input-first-name"
          type="text"
          formControlName="firstName" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base"
          placeholder="John"
          minlength="2"
          required
        />
      </div>
      <div>
        <label for="input-last-name" class="font-normal text-sm">Last Name</label>
        <input
          id="input-last-name"
          type="text"
          formControlName="lastName" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base"
          placeholder="Doe"
          minlength="2"
          required
        />
      </div>
      <div>
        <label for="input-display-name" class="font-normal text-sm">Display Name</label>
        <input
          id="input-display-name"
          type="text"
          formControlName="displayName" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base"
          placeholder="Johnny"
          minlength="2"
          required
        />
      </div>
      <div>
        <label for="input-email" class="font-normal text-sm">Email</label>
        <input
          id="input-email"
          type="email"
          formControlName="email" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base" 
          placeholder="doeboy@example.com"
          required
        />

        <!-- Inline validation errors -->
        <div 
          *ngIf="email!.invalid && email!.touched" 
          class="error font-body font-medium text-sm color-red"
        >
          Please enter a valid email address.
        </div>

        <div 
          *ngIf="errorCode === 'auth/email-already-in-use'" 
          class="error font-body font-normal text-sm color-red"
        >
          Another account already uses this email -- please try another.
        </div>
      </div>
      <div>
        <label for="input-password" class="font-normal text-sm">Password</label>
        <input
          id="input-password"
          type="password"
          formControlName="password" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base"
          placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
          minlength="8"
          required
        />

        <!-- Inline validation error -->
        <div *ngIf="password!.invalid && password!.touched" class="error font-body font-normal text-sm color-red">
          <p class="mb-1">Please enter a valid password with:</p>
          <ul class="font-normal list-inside list-disc"> 
            <li>a minimum of 8 characters</li>
            <li>a minimum of one uppercase letter</li>
            <li>a minimum of one lowercase letter</li>
            <li>a minimum of one number</li>
            <li>a minimum of one special character</li>
          </ul>
        </div>
      </div>

      <button 
        [disabled]="!signupForm.valid"
        class="font-body font-semibold text-sm px-2 py-1 border border-light"
        type="submit"
      >Register</button>
    </form>
  </div>

  <div class="flex justify-center">
    <h2 class="font-subheading font-base text-sm">or sign-up with</h2>
  </div>

  <div class="flex justify-center h-4 w-auto">
    <button
      type="button"
      class="flex items-center justify-center gap-2 px-2 py-1 font-body text-sm rounded-sm border border-light"
      (click)="handleGoogleSignIn()"
    >
      <img
        src="../../../assets/google.png"
        alt="Google logo"
        class="h-2 w-2"
      />
      <span>Google</span>
    </button>
  </div>

  <div class="flex justify-center">
    <p class="font-body font-normal text-sm">Already have an account? 
      <a class="font-bold" routerLink="/login">Login</a>
    </p>
  </div>
</div>