<div class="signup-page flex flex-col gap-2 px-1 py-2">
  <div>
    <h1 class="flex justify-center font-subheading font-extrabold text-2xl mb-2">Create Account</h1>
    <form
      [formGroup]="signupForm"
      (submit)="handleSignUp()"
      class="flex flex-col gap-2"
    >
      <div>
        <label for="input-email" class="font-medium text-sm">Email</label>
        <input
          id="input-email"
          type="email"
          formControlName="email" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base" 
          placeholder="baker214@gmail.com"
          required
        />

        <!-- Inline validation error -->
        <div 
          *ngIf="email!.invalid && email!.touched" 
          class="error font-body text-sm text-red-600"
        >
          Please enter a valid email address.
        </div>
      </div>
      <div>
        <label for="input-password" class="font-medium text-sm">Password</label>
        <input
          id="input-password"
          type="password"
          formControlName="password" 
          class="form-field w-full h-4 mt-1 bg-light-blue text-base"
          placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
          minlength="8"
          required
        />

        <!-- Inline validation error -->
        <div *ngIf="password!.invalid && password!.touched" class="error font-body text-sm text-red-600">
          <ul>Please enter a valid password that 
          <li>a minimum of 8 characters</li>
          <li>a minimum of one uppercase letter</li>
          <li>a minimum of one lowercase letter</li>
          <li>a minimum of one number</li>
          <li>a minimum of one special character</li>
          </ul>
        </div>
      </div>

      <button 
        [disabled]="!signupForm.valid"
        class="font-body font-normal text-sm px-2 py-1 border border-light"
        type="submit"
      >Register</button>
    </form>
  </div>

  <div class="flex justify-center">
    <h2 class="font-subheading font-base text-sm">or sign-up with</h2>
  </div>

  <div class="flex justify-center h-4 w-auto">
    <button
      type="button"
      class="flex items-center justify-center gap-2 px-2 py-1 font-body text-sm rounded-sm border border-light"
      (click)="handleGoogleSignIn()"
    >
      <img
        src="../../../assets/google.png"
        alt="Google logo"
        class="h-2 w-2"
      />
      <span>Google</span>
    </button>
  </div>

  <div class="flex justify-center">
    <p class="font-body font-normal text-sm">Already have an account? 
      <a class="font-bold" routerLink="/login">Login</a>
    </p>
  </div>
</div>