<div class="recipe-editor pb-6">
  <!-- Edit mode -->
  <div *ngIf="isEditingTitle; else viewMode" class="flex mb-4">
    <div class="grow">
      <input
        type="text"
        id="recipe-title"
        [(ngModel)]="title"
        [readonly]="!isEditingTitle"
        placeholder="Untitled Recipe"
        autofocus
        class="font-heading font-medum text-2xl leading-loose md:text-4xl w-full border-b-2 border-gray-400 placeholder-gray-400"
      />
    </div>
    <!--[readonly]="!editable" (evaluates @Input() editable = true;)-->
    <div class="editing-options-editmode flex my-1 md:my-3">
      <button
        class="font-heading font-bold text-xl px-1 py-0.5"
        type="button" 
        (click)="saveTitle()"
      >&#10003;</button>
    </div>
  </div>

  <!-- View mode -->
  <ng-template #viewMode>
    <div class="flex mb-4">
      <div class="grow">
        <h1 class="font-heading font-semibold text-2xl md:text-4xl w-full">
          {{ title || 'Untitled Recipe' }}
        </h1>
      </div>
      <div class="editing-options-viewmode flex shrink-0">
        <button 
          mat-icon-button 
          matTooltip="Click to Edit" 
          (click)="editTitle()" 
          class="iconbutton"
        >
          <mat-icon aria-label="Edit" class="color-dark-gray">edit</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <div class="recipe-forms">

    <div class="mb-4">
      <div class="flex justify-between mb-2">
        <div *ngIf="!isEditingYield">
          <h2 class="font-subheading font-bold text-xl">Yields: {{ yield.amount }} {{ yield.unit }}</h2>
        </div>
        <div *ngIf="isEditingYield">
          <h2 class="font-subheading font-bold text-xl">Yields:</h2>
            <div class="yield-inputs">
              <input
                type="number"
                id="yield-amount"
                placeholder="'6'"
                autofocus
                formControlName="yieldAmount"
                class="font-heading font-medum text-lg leading-loose md:text-4xl w-full border-b-2 border-gray-400 placeholder-gray-400"
              />
              <input
                type="text"
                id="yield-unit"
                placeholder="'loaves'"
                autofocus
                formControlName="yieldUnit"
                class="font-heading font-medum text-lg leading-loose md:text-4xl w-full border-b-2 border-gray-400 placeholder-gray-400"
              />
            </div>
        </div>

        <div class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingYield"
            (click)="editYield()" 
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
            type="button"
          >edit
          </button>
          <button
            *ngIf="isEditingYield" 
            (click)="saveYield()"
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
            type="button"
          >view</button>
        </div>

      </div>
    </div>

    <div class="ingredients-form mb-4">
      <div class="flex justify-between mb-2">
        <h2 class="font-subheading font-bold text-xl">Ingredients</h2>

        <div class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingIngredients"
            (click)="editIngredients()" 
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
            type="button"
          >edit</button>
          <button
            *ngIf="isEditingIngredients" 
            (click)="saveIngredients()"
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
            type="button"
          >view</button>
        </div>
      </div>

      <app-ingredients-form
        [initialIngredients]="ingredients"
        [editable]="isEditingIngredients"
        (ingredientsChange)="onIngredientsChange($event)"
      > </app-ingredients-form>
    </div>

    <div class="instructions-form mb-4">
      <div class="flex justify-between mb-2">
        <h2 class="font-subheading font-bold text-xl">Instructions</h2>

        <div class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingInstructions"
            (click)="editInstructions()" 
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
          >edit</button>
          <button
            *ngIf="isEditingInstructions" 
            class="font-semibold underline lg:no-underline underline-offset-10 hover:underline"
            type="button" 
            (click)="saveInstructions()"
          >view</button>
        </div>
      </div>

      <app-instructions-form
        [initialInstructions]="instructions"
        [editable]="isEditingInstructions"
        (instructionsChange)="onInstructionsChange($event)"
      ></app-instructions-form>
    </div>


    <div>
      <h2 class="font-subheading font-bold text-xl">PLACEHOLDER for Tags component</h2>
    </div>


  </div>

  <div class="fixed top-auto bottom-0 w-full h-6 bg-white">
    <div class="flex gap-2">
      <button
        type="button"
        class="font-body font-semibold text-sm tracking-widest px-1 py-1 rounded-sm bg-orange border-2"
        (click)="saveRecipe()"
      >
        SAVE
      </button>
      <button
        *ngIf="recipeId"
        type="button"
        class="font-body font-semibold text-sm tracking-widest px-1 py-1 rounded-sm border-2 border-dark color-dark-gray"
        (click)="toggleArchive()"
      >
        {{ archived ? 'RESTORE' : 'ARCHIVE' }}
      </button>
    </div>
  </div>
</div>
