<div class="recipe-editor">
  <!-- Edit mode -->
  <div *ngIf="isEditingTitle; else viewMode" class="flex mb-2 md:mb-4">
    <div class="grow">
      <input
        type="text"
        id="recipe-title"
        [(ngModel)]="title"
        [readonly]="!editable"
        placeholder="Untitled Recipe"
        autofocus
        class="font-heading font-medum text-2xl md:text-4xl px-0 py-1 w-full border-b-2 border-gray-400 placeholder-gray-400"
      />
    </div>
    <!--[readonly]="!editable" (evaluates @Input() editable = true;)-->
    <div class="editing-options-editmode flex my-1 md:my-3">
      <button
        class="font-body font-medium text-sm px-1 py-0.5"
        type="button" 
        (click)="saveTitle()"
      >&check;</button>
    </div>
  </div>

  <!-- View mode -->
  <ng-template #viewMode>
    <div class="flex mb-2 md:mb-4">
      <div class="grow">
        <h2 class="font-heading font-semibold text-2xl md:text-4xl px-0 py-1 w-full">
          {{ title || 'Untitled Recipe' }}
        </h2>
      </div>
      <div class="editing-options-viewmode flex shrink-0">
        <button 
          mat-icon-button 
          matTooltip="Click to Edit" 
          (click)="editTitle()" 
          class="iconbutton"
        >
          <mat-icon aria-label="Edit" class="color-dark-gray">edit</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <div class="recipe-forms">
  <!-- <div [ngClass]="recipeId ? 'recipe-forms flex gap-6' : 'recipe-forms'"> -->
    <div class="ingredients-form mb-6">
      <div class="flex justify-between">
        <h3 class="font-subheading font-bold text-xl mb-2">Ingredients</h3>

        <div class="editing-options-viewmode flex shrink-0 mb-2">
          <button 
            *ngIf="!isEditingIngredients"
            (click)="editIngredients()" 
            class="font-semibold"
            type="button"
          >
            edit
          </button>

          <button
            *ngIf="isEditingIngredients" 
            (click)="saveIngredients()"
            class="font-body font-medium text-sm px-1 py-0.5"
            type="button"
          >&check;</button>
        </div>
      </div>
    

      <app-ingredients-form
        [initialIngredients]="ingredients"
        [editable]="isEditingIngredients"
        (ingredientsChange)="onIngredientsChange($event)"
      >
      </app-ingredients-form>
    </div>

    <div class="instructions-form mb-6">
      <div class="flex justify-between">
        <h3 class="font-subheading font-bold text-xl mb-2">Instructions</h3>

        <div class="editing-options-viewmode flex shrink-0 mb-2">
          <button 
            *ngIf="!isEditingInstructions"
            (click)="editInstructions()" 
            class="font-semibold"
          >
            edit
          </button>

          <button
            *ngIf="isEditingInstructions" 
            class="font-body font-medium text-sm px-1 py-0.5"
            type="button" 
            (click)="saveInstructions()"
          >&check;</button>
        </div>
      </div>

      <app-instructions-form
        [initialInstructions]="instructions"
        [editable]="isEditingInstructions"
        (instructionsChange)="onInstructionsChange($event)"
      >
      </app-instructions-form>
    </div>
  </div>

  <div class="flex gap-1">
    <button
      type="button"
      class="font-body font-semibold text-sm tracking-widest px-1 py-1 rounded-sm bg-orange border-2"
      (click)="saveRecipe()"
    >
      SAVE
    </button>

    <button
      type="button"
      class="font-body font-semibold text-sm tracking-widest px-1 py-1 rounded-sm border-2 border-dark color-dark-gray"
      (click)="archiveRecipe()"
    >
      ARCHIVE
    </button>
  </div>
</div>
