<form [formGroup]="recipeForm" class="recipe-editor">
  <!-- Edit mode - title -->
  <div *ngIf="isEditingTitle; else viewModeTitle" class="flex gap-1 mb-1">
    <div class="flex grow my-1 w-full">
      <input
        type="text"
        id="recipe-title"
        formControlName="title"
        [readonly]="!isEditingTitle"
        placeholder="Untitled Recipe"
        class="font-heading font-medium text-2xl leading-loose md:text-4xl border-b border-light color-dark-gray"
      />
    </div>
    <div class="editing-options-editmode flex my-1 md:my-3">
      <button
        class="font-heading font-bold text-xl"
        type="button" 
        (click)="saveTitle()"
      >
        <mat-icon class="color-dark-gray">check</mat-icon>
      </button>
    </div>
  </div>

  <!-- View mode - title -->
  <ng-template #viewModeTitle>
    <div class="flex gap-1 mb-1">
      <div class="flex grow my-1 w-full">
        <h1 class="font-heading font-bold text-2xl leading-loose md:text-4xl border-b border-light">
          {{ recipeForm.get('title')?.value || 'Untitled Recipe' }}
        </h1>
      </div>
      <div *ngIf="this.isAuthor || !recipeId" class="editing-options-viewmode flex my-1 md:my-3">
        <button 
          mat-icon-button 
          matTooltip="Click to Edit" 
          (click)="editTitle()" 
          class="iconbutton"
        >
          <mat-icon aria-label="Edit" class="color-dark-gray">edit</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <div class="recipe-forms">
    <div class="yield-form mb-6">
      <!-- Yield form header -->
      <div class="flex flex-row justify-between items-center mb-1">
        <div>
          <h2 class="font-subheading font-bold text-base mr-1">Yields:</h2>

          <!-- Edit mode - yield -->
          <div 
            *ngIf="(this.isAuthor || !recipeId) && isEditingYield; else viewModeYield" 
            class="flex w-full"
          >
            <div class="yield-inputs flex flex-row gap-1">
              <input
                type="number"
                id="yield-amount"
                placeholder="'6'"
                formControlName="yieldAmount"
                class="font-body font-normal text-base w-3 h-3 border-b border-light"
              />
              <input
                type="text"
                id="yield-unit"
                placeholder="'loaves'"
                formControlName="yieldUnit"
                class="font-body font-normal text-base w-8 h-3 border-b border-light"
              />
            </div>
          </div>
        </div>

        <div *ngIf="this.isAuthor || !recipeId" class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingYield"
            (click)="editYield()" 
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
            type="button"
          >edit</button>
          <button
            *ngIf="isEditingYield" 
            (click)="saveYield()"
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
            type="button"
          >view</button>
        </div>
      </div>

      <!-- View mode - yield -->
      <ng-template #viewModeYield>
        <div class="flex items-center h-3">
          <h2 class="font-body font-medium text-base">{{ recipeForm.get('yieldAmount')?.value }} {{ recipeForm.get('yieldUnit')?.value }}</h2>
        </div>
      </ng-template>
    </div>

    <div class="ingredients-form mb-6">
      <!-- Ingredients form header -->
      <div class="flex justify-between mb-2">
        <h2 class="font-heading font-semibold text-lg tracking-wide">Ingredients</h2>

        <div *ngIf="this.isAuthor || !recipeId" class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingIngredients"
            (click)="editIngredients()" 
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
            type="button"
          >edit</button>
          <button
            *ngIf="isEditingIngredients" 
            (click)="saveIngredients()"
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
            type="button"
          >view</button>
        </div>
      </div>

      <app-ingredients-form
        [initialIngredients]="ingredients"
        [editable]="isEditingIngredients"
        (ingredientsChange)="onIngredientsChange($event)"
      > </app-ingredients-form>
    </div>

    <div class="instructions-form mb-6">
      <!-- Instructions form header -->
      <div class="flex justify-between mb-2">
        <h2 class="font-heading font-semibold text-lg tracking-wide">Instructions</h2>

        <div *ngIf="this.isAuthor || !recipeId" class="editing-options flex shrink-0">
          <button 
            *ngIf="!isEditingInstructions"
            (click)="editInstructions()" 
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
          >edit</button>
          <button
            *ngIf="isEditingInstructions" 
            class="font-normal text-sm underline lg:no-underline underline-offset-8 hover:underline"
            type="button" 
            (click)="saveInstructions()"
          >view</button>
        </div>
      </div>

      <app-instructions-form
        [initialInstructions]="instructions"
        [editable]="isEditingInstructions"
        (instructionsChange)="onInstructionsChange($event)"
      ></app-instructions-form>
    </div>

    <!-- Public / private toggle -->
    <div *ngIf="this.isAuthor" class="flex flex-col">
      <div class="mb-1">
        <p class="text-xs color-dark-gray">
          {{ isPublic ? 'Anyone can view' : 'Only you can view' }}
        </p>
      </div>
      <mat-slide-toggle
        id="toggle-public"
        class=""
        formControlName="isPublic"
        (change)="togglePublic($event)"
      ></mat-slide-toggle>
    </div>
  </div>

  <!-- Save options (fixed to bottom) -->
  <div *ngIf="this.isAuthor || !recipeId" class="fixed top-auto bottom-0 w-full my-2 bg-linear-to-r from-white to-transparent">
    <div class="flex justify-between">

      <div class="flex gap-1 py-0">
        <button
          type="button"
          class="font-body font-semibold text-sm tracking-widest px-1 py-1 rounded-sm bg-white border-orange border-2"
          (click)="saveRecipe()"
        >SAVE</button>
        <button
          *ngIf="recipeId"
          type="button"
          class="font-body font-semibold text-sm tracking-widest px-1 py-1 bg-white rounded-sm border-dark border-2 color-dark-gray"
          (click)="toggleArchive()"
        >{{ archived ? 'RESTORE' : 'ARCHIVE' }}</button>
      </div>
    </div>
  </div>

  <div class="h-8"></div> <!-- Spacer div -->
</form>
