@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("/assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@utility bg-cta-blue {
  background-color: var(--cta-blue);
}

@utility bg-cta-orange {
  background-color: var(--cta-orange);
}

@utility bg-light-blue {
  background-color: var(--light-blue);
}

@utility bg-light-gray {
  background-color: var(--light-gray);
}

@utility bg-dark-gray {
  background-color: var(--dark-gray);
}

@utility bg-med-blue {
  background-color: var(--med-blue);
}

@theme {
  --font-heading: "Work Sans", sans-serif;
  --font-subheading: "Spectral", serif;
  --font-body: "Work Sans", sans-serif;

  --cta-blue: #3069d4;
  --cta-orange: #FFA500;
  --white: #ffffff;
  --light-blue: #eef7ff;
  --med-blue: #a2d3ff;
  --light-gray: #f2f2f2;
  --dark-gray: #767676;
  --border-radius: 8px;
  --spacing: 0.75rem;
}
html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  background-color: white;
}

.color-light-gray {
  color: var(--light-gray);
}

.color-dark-gray {
  color: var(--dark-gray);
}

.color-blue {
  color: var(--cta-blue);
}

.color-orange {
  color: var(--cta-orange);
}

.border-light {
  border-color: var(--light-gray);
}

.border-dark {
  border-color: var(--dark-gray);
}

.border-blue {
  border-color: var(--cta-blue);
}

.border-cta-orange {
  border-color: var(--cta-orange);
}

/* Material overrides */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--light-blue) !important;
}
.mat-mdc-form-field-infix {
  background-color: var(--light-blue) !important;
}
.mat-mdc-form-field-subscript-wrapper::before {
  content: none !important;
}
.mat-mdc-floating-label > mat-label {
  font-size: small;
}


/* size of "Edit" icon */
.material-icons {
  font-size: 20px;
}
